.mainPane {
    -fx-background-color: #FFFFFF;
}

.teacherBox {
    -fx-background-color: #C0392B;
    -fx-background-radius: 25;
}

.courseBox {
    -fx-background-color: #9B59B6;
    -fx-background-radius: 25;
}

.groupBox {
    -fx-background-color: #2980B9;
    -fx-background-radius: 25;
}

.subjectBox {
    -fx-background-color: #1ABC9C;
    -fx-background-radius: 25;
}

.classroomBox {
    -fx-background-color: #F1C40F;
    -fx-background-radius: 25;
}

.scheduleBox {
    -fx-background-color: #E67E22;
    -fx-background-radius: 25;
}