.mainPane {
    -fx-background-color: #B00A3A;
}

.dayButton {
    -fx-background-color: #11B23B;
    -fx-text-fill: #FFF;
}

.hourButton {
    -fx-background-color: #0E9EB4;
    -fx-text-fill: #FFF;
}

.scheduleButton {
    -fx-background-color: #FFF;
    -fx-text-fill: #000;
}

.schedulerTabButton {
    -fx-background-color: #FFF;
    -fx-text-fill: #000;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.selectedSchedulerTabButton {
    -fx-background-color: #EAEAEA;
    -fx-text-fill: #000;
}

.breakTimeButton {
    -fx-background-color: #EAEAEA;
    -fx-text-fill: #000;
    -fx-font-weight: bold;
    -fx-font-size: 24px;
}